body{
    background-color: #edf2f8;
    font-family: Arial, Helvetica, sans-serif;
}
.bloco{
    padding: 1em;
    padding-top: .1em;
    padding-bottom: 2em;
    color: white;
    border-radius: 10px;
    flex: 1 1 190px;
    max-height: 34vh;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, .4);
}
.retangular{
    flex:  2 2 400px;
    max-width: 32vw;
}
.retVertical{
    margin-top: 6em;
    min-height: 66vh;
}
.roxo{
    background: #733fc8;
}
.cinza{
    background: #48556a;
}
.azulEscuro{
    background: #19212e;
}
.branco{
    background: white;
    color: #333;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 50vw;
    margin-left: 10%;
    padding: 100px;
}
img{
margin-top: 20px;
width: 2vw;
height: 3.7vh;
border-radius: 50%;
float: left;
margin-right: 12px;

}
p{
    font-size: 1em;
}
h2{
    font-size: 1.2em;
}
h3{
    font-size: 1em;
}
.containerCol{
    display: flex;
    margin-right: 16%;
    margin-left: 0;
    flex-direction: row;
}